/* MAIN DIV */
.everything {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

/* ALPHA */
.animated-circle {
  position: absolute;
  bottom: 0;
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 100% 100% 100% 100%;
}

.animated-circle h1 {
  visibility: hidden;
  font-size: 44px;
  font-family: "utm-times";
  color: #611818;
}
.animated-circle div {
  visibility: hidden;
  height: 0%;
  font-size: 16px;
  font-family: "utm-times";
}

.animated-circle:hover {
  transition: width 1s, height 1s;
  width: 450px;
  height: 500px;
  animation: circle-animation-border 1s;
  animation-fill-mode: forwards;
  padding: 20px;
  padding-left: 40px;
}

@keyframes circle-animation-border {
  10% {
    border-radius: 30%;
  }
  20% {
    border-radius: 10%;
  }
  30% {
    border-radius: 0%;
  }
  100% {
    border-radius: 0%;
  }
}

.animated-circle:hover h1 {
  visibility: visible;
}
.animated-circle:hover div {
  transition-delay: 350ms;
  visibility: visible;
  height: 100%;
}

.explore-box {
  flex-direction: column;
  position: absolute;
  left: 12%;
  opacity: 0%;
  animation: explore-animation 2s ease-in forwards;
  animation-delay: 1s;
}

@keyframes explore-animation {
  0% {
    bottom: 10%;
    opacity: 0%;
  }

  100% {
    bottom: 30%;
    opacity: 100%;
  }
}

.explore-text {
  font-family: "utm-times";
  font-weight: bold;
  font-size: 12rem;
  color: #ffffff;
  letter-spacing: 0.5rem;
  text-align: center;
}

.float-buttons {
  position: absolute;
  right: 0;
  bottom: 0;
  flex-direction: column;
  max-width: 75px;
}

.float-buttons img {
  display: inline-block;
  flex-direction: row;
  margin-bottom: 1rem;
  max-width: 60px;
}

.image-fit {
  height: 100%;
  width: 100%;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.lorem-text-box {
  text-overflow: ellipsis;
}

.maroon-rectangle {
  height: 100%;
  width: 25%;
  background-color: #611818;
  position: absolute;
  left: 0;
  top: 0;
}

.more-deets-text {
  font-family: Helvetica;
  font-weight: normal;
  font-size: 2rem;
  color: #ffffff;
  margin-left: 4.5rem;
}

.plus-button {
  width: 250px;
  height: 250px;
  border-radius: 0rem;
  background-color: "white";
  color: "white";
}

.plus-circle-container {
  flex-direction: row;
  transition: all 0.3s ease-in-out;
}

.plus-circle-container:hover {
  font-size: 20rem;
}

@media screen and (max-width: 1000px) {
  .explore-text {
    font-size: 8rem;
  }
  .more-deets-text {
    font-size: 1.5rem;
    margin-bottom: 6px;
  }
  .animated-circle:hover {
    width: 400px;
    height: 450px;
    padding: 15px;
  }
  .float-buttons img {
    display: inline-block;
    flex-direction: row;
    margin-bottom: 1rem;
    width: 50px;
  }
}

@media screen and (max-height: 800px) {
  .animated-circle:hover {
    width: 400px;
    height: 400px;
  }
  .animated-circle:hover h1 {
    margin: 0;
  }
}
